<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web-Chat 1-on-1 Video Call</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="videos">
    <video class="video-player" id="localVideo" autoplay muted playsinline></video>
    <video class="video-player" id="remoteVideo" autoplay playsinline></video>
  </div>

  <div id="controls">
    <div class="control-container" id="muteButton">
      <svg width="20" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M7 12.5C8.7 12.5 10 11.2 10 9.5V3.5C10 1.8 8.7 0.5 7 0.5C5.3 0.5 4 1.8 4 3.5V9.5C4 11.2 5.3 12.5 7 12.5ZM12.3 9.5C12.3 12.5 9.8 14.6 7 14.6C4.2 14.6 1.7 12.5 1.7 9.5H0C0 12.9 2.7 15.7 6 16.2V19.5H8V16.2C11.3 15.7 14 12.9 14 9.5H12.3Z"
          fill="white" />
      </svg>
    </div>

    <div class="control-container" id="endCallButton">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12 5C7.58 5 3.53 6.8 0.81 9.8C0.29 10.34 0.29 11.15 0.81 11.69L3.08 14.11C3.6 14.66 4.42 14.68 4.94 14.14C6.55 12.5 9.14 12.5 12 12.5C14.86 12.5 17.45 12.5 19.06 14.14C19.58 14.68 20.4 14.66 20.92 14.11L23.19 11.69C23.71 11.15 23.71 10.34 23.19 9.8C20.47 6.8 16.42 5 12 5Z"
          fill="red" />
      </svg>
    </div>
  </div>

  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
    crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
</body>

</html>